// Font
@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"), url("../fonts/Helvetica.woff") format("woff");
}

@font-face {
  font-family: "OCR A Std";
  src: local("OCR A Std"), url("../fonts/OCRAStd.woff") format("woff");
}

@font-face {
  font-family: "Bookman Old Style Bold";
  src: local("Bookman Old Style Bold"), url("../fonts/bookman-old-bold.ttf");
}

@font-face {
  font-family: "DIN Alternate Bold";
  font-style: normal;
  font-weight: normal;
  src: local("DIN Alternate Bold"),
    url("../fonts/DINAlternate-Bold.woff") format("woff");
}

@function rem($pixels) {
  @return $pixels / 16+rem;
}

// Variaveis
$marron: #e3a02a;
$amarelo: #ffcb00;
$laranja: #e54320;
$vermelho: #e32313;
$verde: #60ea60;
$azul: #5b78bb;
$azul-agua: #62b4ac;
$azul-mclovin: #1e525a;
$labomba-rosa: #e50051;
$labomba-amarelo: #e7e000;

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Helvetica";
  max-width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  color: white;
  background-image: url(../img/fundo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4 {
  font-family: "Bookman Old Style Bold";
}

.section {
  height: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Menu
#fp-nav {
  ul {
    li {
      a span {
        background: $labomba-amarelo;
      }
    }
  }
}

main {
  overflow-y: hidden;
  overflow-x: hidden;

  #introducao {
    padding-left: 4em;

    #infos {
      padding-top: rem(150);

      h1 {
        font-size: rem(48);
      }
    }

    #antidote {
      padding-top: 1em;

      a {
        display: inline-flex;
        transition: all 0.4s ease;

        &:hover {
          text-decoration: none;
          opacity: 0.8;
        }
      }

      h4 {
        color: $labomba-amarelo;
        margin: 0;
        padding: 1.5em;
      }
    }
  }
}

#hellcat {

  h2,
  h3 {
    color: $vermelho;

    span {
      color: #fff;
    }
  }
}

#lulupulus {

  h2,
  h3 {
    color: $verde;

    span {
      color: #fff;
    }
  }
}

#mclovin {

  h2,
  h3 {
    color: $marron;

    span {
      color: #fff;
    }
  }
}

#psico {

  h2,
  h3 {
    color: $laranja;

    span {
      color: #fff;
    }
  }
}

// Cervejas
#cervejas {
  .cerveja {
    text-align: center;
    margin-top: 5em;

    h2 {
      transform: rotate(270deg);
      text-align: right;
      position: absolute;
      left: 50%;
      top: 2%;
      z-index: -1;
      opacity: 0;
      transition: all 0.4s ease;

      span {
        font-size: rem(20);
      }
    }

    a {
      transition: all 0.5s ease;

      &:hover {
        opacity: 0.8;
      }

      img {
        margin: 0 auto;
        max-height: 500px;
      }
    }

    &:hover {
      h2 {
        left: 70%;
        opacity: 1;
      }
    }
  }
}

// Footer
#conversa {
  margin-top: 5em;

  a {
    cursor: pointer;
    opacity: 1;
    transition: all 0.4s ease;

    h2 {
      font-family: "OCR A Std";
      color: $labomba-amarelo;
      font-size: rem(50);
      padding: 0.5em 0;
      transition: all 0.4s ease;
    }

    &:hover {
      opacity: 0.7;
      text-decoration: none;

      h2 {
        color: $labomba-rosa;
      }
    }
  }
}

footer {
  .home {
    margin-top: 5em;

    &::before {
      content: url(../img/footer_labomba_bar.png);
      position: absolute;
      right: 89%;
    }
  }

  .interno {
    &::before {
      content: url(../img/footer_labomba_bar.png);
      position: absolute;
      right: 83%;
    }

    .container-fluid {
      padding-right: 6.5em;
    }

    .logo {
      margin-top: 3em;
    }

    p {
      margin-top: 5.2em;
      font-size: rem(18);
    }

    #infos {
      font-size: rem(16);
      padding-top: 2em;
      padding-bottom: 2em;
      padding-left: 5em;
    }

    .equipe {
      padding-left: 8em;
    }

    #creditos {
      font-size: rem(14);
    }
  }

  #logo {
    text-align: right;
  }

  p {
    margin-top: 3em;
  }

  #infos {
    font-size: rem(14);
    font-family: "OCR A Std";
    padding: 0;
    display: inline-flex;
    list-style: none;
    color: #999999;

    li {
      padding: 0 0.8em;
    }

    span {
      color: $labomba-amarelo;
    }

    a {
      color: #999999;
      transition: all 0.4s ease;

      &:hover {
        color: $labomba-amarelo;
        text-decoration: none;
      }
    }

    #social {
      list-style: none;
      display: inline-flex;

      margin-left: 2.5em;
      padding: 0;

      li {
        font-size: 1.3em;
        padding: 0 0.5em;

        i {
          transition: all 0.4s ease;
          color: $labomba-amarelo;

          &:hover {
            color: #999999;
          }
        }
      }
    }
  }

  #creditos {
    color: #999999;
    font-size: rem(12);

    a {
      @extend #creditos;
      transition: all 0.4s ease;

      &:hover {
        text-decoration: none;
        color: $labomba-amarelo;
      }
    }
  }
}

// Page Cervejas
.page-cerveja {
  margin-top: 4em;

  .cerva {
    text-align: right;
  }

  .psico {
    &::after {
      content: url(../img/cervejas/psico-weizen-folha.png);
      position: absolute;
      right: 35%;
      top: 65%;
    }
  }

  .introducao {
    margin-top: 13em;

    h2 {
      font-size: rem(90);
      line-height: rem(70);

      span {
        font-size: rem(50);
      }
    }

    p {
      padding: 1em 0;
      text-align: justify;
    }

    .spotify {
      display: inline-flex;

      h3 {
        font-family: "DIN Alternate Bold";
        padding: .7em .8em;
      }

      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .arca {
    position: relative;
    bottom: 15%;
    right: 35%;
    z-index: -1;
  }
}

// Divider
.divider {
  margin-top: -15em;

  &-hellcat {
    &::before {
      content: url(../img/cervejas/details/detail-hellcat.svg);
    }
  }

  &-psico {
    &::before {
      content: url(../img/cervejas/details/detail-psico.svg);
    }
  }

  &-mclovin {
    &::before {
      content: url(../img/cervejas/details/detail-mclovin.svg);
    }
  }

  &-lulupulus {
    &::before {
      content: url(../img/cervejas/details/detail-lulupulus.svg);
    }
  }
}

// Apresentação
.apresentacao {
  margin-top: -3em;
  background-color: $amarelo;

  .ilustracao {
    padding-top: 15em;
    padding-bottom: 5em;
    text-align: center;

    img {
      max-width: 80vw;
    }
  }

  &-psico {
    background-color: #62b4ac;
    background-image: url(../img/cervejas/fundo-psico.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &-lulupulus {
    background: linear-gradient(rgba(0, 25, 77, 1) 0%,
        rgba(2, 93, 193, 1) 100%);
  }

  &-mclovin {
    background: #000 !important;

    .ilustracao {
      padding-top: 3em;
    }
  }

  .cerveja-detail {

    font-family: Helvetica, sans-serif;
    display: inherit;

    &-hellcat {
      color: black;

      span {
        color: $vermelho;
      }

      .graphic {
        .bar {
          border-color: $vermelho !important;

          .size {
            background-color: $vermelho;
          }
        }
      }
    }

    &-psico {
      color: black;

      span {
        color: $laranja;
      }

      .graphic {
        .bar {
          border-color: $laranja !important;

          .size {
            background-color: $laranja;
          }
        }
      }
    }

    &-lulupulus {
      color: #fff;

      span {
        color: $verde;
      }

      .graphic {
        .bar {
          border-color: $verde !important;

          .size {
            background-color: $verde;
          }
        }
      }
    }

    &-mclovin {
      color: #fff;

      span {
        color: $marron;
      }

      .graphic {
        .bar {
          border-color: $marron !important;

          .size {
            background-color: $marron;
          }
        }
      }
    }

    .lead {
      font-family: "Bookman Old Style Bold";
      padding: 2em 0;
      margin: 0;
    }

    img {
      padding-right: 1em;
    }

    h3 {
      font-weight: 900;
      font-size: rem(16);
      font-style: italic;
      font-family: Helvetica, sans-serif;
    }

    span {
      font-size: rem(23);
      line-height: rem(15);
      font-family: "DIN Alternate Bold";
    }

    .graphic {
      display: flex;

      .bar {
        border: 1px solid;
        width: 100%;
        margin-left: 1em;
        height: 15px;

        .size {
          height: 13px;

          &-9 {
            width: 9%;
          }

          &-12 {
            width: 12%;

          }

          &-13 {
            width: 13%;
          }

          &-18 {
            width: 18%;
          }

          &-26 {
            width: 26%;
          }

          &-28 {
            width: 28%;
          }

          &-43 {
            width: 43%;
          }

          &-60 {
            width: 60%;
          }
        }

      }
    }


  }

  #informacoes {
    img {
      margin: 5em 0;
    }
  }
}

// Next
.next {
  margin: 0;
  padding: 0;

  .item {
    width: (100vw / 3);
    padding: 0;
    margin: 0;

    a {
      width: (100vw / 3);

      img {
        width: (100vw / 3);
        opacity: 0.7;
        filter: grayscale(50%);
        transition: all 0.5s ease;
      }

      &:hover {
        img {
          opacity: 1;
          filter: grayscale(0);
        }
      }
    }
  }
}

// Sound
#sound {
  display: inline-block;

  .pause {
    background: $labomba-amarelo;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 2em;
    position: fixed;
    z-index: 999;
    left: 4.5%;

    i {
      color: #000;
      font-size: rem(25);
      padding-top: 0.2em;
      margin: 0 auto;
    }
  }

  .prev {
    @extend .pause;
    left: 0;

    i {
      color: #000;
      font-size: rem(35);
      padding-top: .25em;
      padding-left: .4em;
    }
  }
}

// Modal Contato
.modal {
  &-dialog-centered {
    max-width: 80vw;
  }

  &-content {
    background-color: #000;
    background-image: url(../img/form_madre.png);
    background-repeat: no-repeat;
    background-position: left bottom;

    .modal {
      &-header {
        border: none;

        .close {
          color: $labomba-amarelo;
          text-shadow: none;
          opacity: 1;
          transition: all 0.4s ease;

          &:hover {
            opacity: 0.7;
          }
        }
      }

      &-body {
        #zap {
          position: relative;
          top: 20%;
          right: 15%;

          img {
            max-width: 200px;
          }
        }

        h3 {
          font-family: "OCR A Std";
          font-size: rem(48);
          text-indent: -0.1em;
          color: $labomba-amarelo;
          margin-top: 1em;
        }

        p {
          font-size: rem(20);
        }

        form {
          .form-group {

            input,
            textarea {
              background-color: #000;
              border: 1px solid #999999;
              border-radius: 0;
              padding: 1em;
              color: white;

              &::placeholder {
                color: #999999;
              }
            }
          }

          button {
            background: none;
            border: none;
            font-family: "OCR A Std";
            color: $labomba-amarelo;
            display: block;
            width: 100%;
            margin: 3em 0;

            &:hover {
              color: $labomba-rosa;
            }
          }
        }
      }
    }
  }
}