// Font
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica"), url("../fonts/Helvetica.woff") format("woff");
}

@function rem($pixels) {
  @return $pixels / 16 + rem;
}

// Variaveis

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Helvetica";
  max-width: 100%;
  overflow-x: hidden;
  font-size: 16px;
}
