// Font
@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"), url("../fonts/Helvetica.woff") format("woff");
}

@font-face {
  font-family: "OCR A Std";
  src: local("OCR A Std"), url("../fonts/OCRAStd.woff") format("woff");
}

@font-face {
  font-family: "Bookman Old Style Bold";
  src: local("Bookman Old Style Bold"), url("../fonts/bookman-old-bold.ttf");
}

@font-face {
  font-family: "DIN Alternate Bold";
  font-style: normal;
  font-weight: normal;
  src: local("DIN Alternate Bold"),
    url("../fonts/DINAlternate-Bold.woff") format("woff");
}

@function rem($pixels) {
  @return $pixels / 16 + rem;
}

// Variaveis
$amarelo: #fcc217;
$laranja: #e9481e;
$verde: #69c494;
$marron: #d09a3b;
$azul: #5b78bb;
$azul-mclovin: #1e525a;
$vermelho: #e32313;
$labomba-rosa: #e50051;
$labomba-amarelo: #e7e000;

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Helvetica";
  max-width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  color: white;
}

h1,
h2 {
  font-family: "Bookman Old Style Bold";
}

main {
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 850px;
  overflow-y: hidden;
  overflow-x: hidden;

  #madre {
    width: 55em;
    position: relative;
    top: 15%;
    right: 15%;
  }

  #infos {
    padding-top: 10em;

    #logo {
      padding-top: 5em;
    }
  }
}

#hellcat {
  h2 {
    color: $vermelho;

    span {
      color: $amarelo;
    }
  }
}

#lulupulus {
  h2 {
    color: $verde;

    span {
      color: $azul;
    }
  }
}

#mclovin {
  h2 {
    color: $marron;
    span {
      color: $azul-mclovin;
    }
  }
}

#psico {
  h2 {
    color: $azul;
    span {
      color: $laranja;
    }
  }
}

// Cervejas
#cervejas {
  padding-top: 5em;
  height: 850px;
  background-image: url(../img/fundo-cervejas.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;

  .cerveja {
    h2 {
      transform: rotate(270deg);
      text-align: right;
      position: relative;
      left: 20%;
      top: 31%;

      span {
        font-size: rem(20);
      }
    }

    a {
      transition: all 0.5s ease;

      &:hover {
        opacity: 0.8;
      }

      img {
        margin: 0 auto;
        max-height: 500px;
      }
    }
  }
}

// LaBomba
#labomba {
  font-family: "OCR A Std";

  &::before {
    font-family: "Helvetica";
    content: "/";
    position: absolute;
    color: $labomba-amarelo;
    font-size: rem(250);
    left: -1%;
    margin-top: -0.2em;
    transform: rotate(10deg);
  }
}

footer {
  padding: 8em 0;
}

// Page Cervejas
.page-cerveja {
  overflow: revert;

  img {
    margin-top: 9em;
  }

  h2 {
    font-size: rem(90);
    line-height: rem(70);

    span {
      font-size: rem(50);
    }
  }
}

// Apresentação
#apresentacao {
  margin-top: 4em;

  &::before {
    content: url(../img/cervejas/detail-hellcat.svg);
  }

  #infos {
    background-color: $amarelo;
    margin-top: -4em;
    padding: 5em 0;
  }

  .spotify {
    font-family: "DIN Alternate Bold";
    display: inline-flex;
    margin-top: -3em;

    img {
      margin-right: 1em;
    }

    &-hellcat {
      color: $vermelho;
      @extend .spotify;

      a {
        color: $vermelho;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  #informacoes {
    img {
      padding: 5em 0;
    }
  }
}
