// iPad Pro (12Inch)
@media (max-width: 1025px) {
    footer {
        .home {
            &::before {
                right: 90%;
            }

            p {
                margin-top: 1.6em;
                font-size: 1em;
            }
        }

        .interno {
            margin-top: -9em;

            .container-fluid {
                padding-right: 15px;
            }

            p {
                margin-top: 4.5em;
                font-size: 1em;
            }

            #logo {
                max-width: 300px;
            }

            #infos {
                padding: 1em 0;
            }

            #creditos {
                margin-bottom: 2em;
            }

            &::before {
                content: none;
            }

            .equipe {
                padding-left: 0;
            }
        }

        p {
            font-size: 12px;
            text-align: justify;
        }

        #infos {

            li {
                padding: .8em 2em;
                font-size: 10px;
            }

            #social {
                margin-left: 0;

                li {
                    font-size: 1.5em;
                }
            }
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    main {
        margin-top: -10em;

        #madre {
            max-width: 300px;
            margin-top: 10em;
        }

        #introducao {
            padding-left: 1em;
        }
    }


    // Cervejas
    #cervejas {

        h3 {
            font-size: 16px;
        }

        .cerveja {

            h2 {
                top: 3%;
            }

            a {
                img {
                    max-height: 350px;
                }
            }

            &:hover {
                h2 {
                    left: 60%;
                    opacity: 1;
                }
            }
        }
    }

    footer {
        .home {
            margin-top: 2em;

            &::before {
                content: none;
            }
        }

        .interno {
            margin-top: -9em;

            .container-fluid {
                padding-right: 15px;
            }

            p {
                margin-top: 4.5em;
                font-size: 1em;
            }

            #infos {
                padding: 1em 0;
            }

            #creditos {
                margin-bottom: 2em;
            }

            &::before {
                content: none;
            }

            .equipe {
                padding-left: 0;
            }
        }

        p {
            font-size: 12px;
            text-align: justify;
        }

        #infos {
            display: block;
            text-align: center;
            margin-bottom: 1em;

            li {
                padding: 0.3em 0;
                font-size: 13px;
            }

            #social {
                margin-left: 0;

                li {
                    font-size: 1.5em;
                }
            }
        }
    }

    // Page Cervejas
    .page-cerveja {
        .cerva {
            text-align: center;

            img {
                max-width: 250px;
            }
        }

        .introducao {
            margin-top: 2em;

            p {
                font-size: 0.8em;
            }
        }
    }

    // Divider
    .divider {
        margin-top: -5em;
    }

    // Apresentação
    .apresentacao {
        .ilustracao {
            padding-top: 6em;
        }

        .cerveja-detail {
            display: inline-block;

            img {
                margin-bottom: 1em;
            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 500px) {
    #fp-nav {
        display: none;
    }

    main {
        text-align: center;

        #logo {
            padding: 2em 0;
            max-width: 80px;
            text-align: center;
        }

        #madre {
            max-width: 150px;
        }

        #introducao {
            padding-left: 1em;

            #infos {
                padding-top: rem(20);

                h1 {
                    font-size: rem(30);
                }

                p {
                    text-align: justify;
                    font-size: 16px;
                }
            }

            #antidote {
                padding-top: 1em;

                a {
                    display: inline-flex;
                }
            }
        }
    }

    // Cervejas
    #cervejas {

        h3 {
            font-size: 16px;
        }

        .cerveja {
            h2 {
                font-size: 0;

                span {
                    font-size: 0;
                }
            }

            a {
                img {
                    max-height: 250px;
                    margin-top: -3em;
                }
            }
        }
    }

    // Footer
    #conversa {
        margin: 0.5em 0;

        a {
            h2 {
                font-size: rem(25);
            }

            img {
                max-width: 120px;
            }
        }
    }

    footer {
        .home {
            margin-top: 0;
        }

        .interno {
            .container-fluid {
                padding-right: 15px;
            }

            p {
                margin-top: 2em;
                font-size: 1em;
            }

            #infos {
                padding: 1em 0;
            }

            #creditos {
                margin-bottom: 2em;
            }
        }

        #logo {
            text-align: center;

            img {
                max-width: 150px;
            }
        }

        p {
            font-size: 12px;
            text-align: justify;
        }

        #infos {
            display: block;
            text-align: center;
            margin-bottom: 1em;

            li {
                padding: 0.3em 0;
                font-size: 13px;
            }

            #social {
                margin-left: 0;

                li {
                    font-size: 1.5em;
                }
            }
        }
    }

    // Page Cervejas
    .page-cerveja {
        margin-top: 0;

        .cerva {
            text-align: center;

            img {
                max-width: 200px;
            }
        }

        .introducao {
            margin-top: 2em;
        }

        .arca {
            position: absolute;
            top: -70em;
            left: -4em;
        }
    }

    // Divider
    .divider {
        margin-top: 1em;
    }

    // Apresentação
    .apresentacao {
        margin-top: -1em;
        background-color: $amarelo;

        .ilustracao {
            padding-top: 5em;
        }

        .cerveja-detail {
            padding: 1em 0;
        }
    }
}